.logo{
	width: 1200px;
	height: 50px;
	margin: 15px auto;
}
.logo img{
	float: left;
	line-height: 50px;
}
.logo .title{
	height: 49px;
	border-left: 1px solid #dddddd;
	float: left;
	font-size: 20px;
	line-height: 50px;
	color: #767676;
	margin-left: 30px;
	padding-left: 30px;
}
.con{
	width: 100%;
	height: 790px;
	position: relative;
	background: url("../images/banner01.jpg") center center no-repeat;
	background-size: cover;
}
.register{
    background: #fff;
    box-sizing: border-box;
    width: 380px;
    height: 520px;
    left: 62%;
    position: absolute;
    top: 170px;
    width: 378px;
    z-index: 1;
}
.tab-register{
    height: 40px;
    margin: 24px 15px 0 28px;
}
.tab-register li{
    width: 160px;
    float: left;
    cursor: pointer;
}
.tab-mobile{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    line-height: 40px;
    background: #f3f3f3;
    color: #333333;
}
.tab-username{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    line-height: 40px;
    background: #333333;
    color: #ffffff;
}
.form-reg-username, .form-reg-mobile{
	width: 338px;
	height: 287px;
	margin: 0 auto;
    margin: 30px 15px 0 28px;
    position: relative;
    display: none;
}
.username, .password, .re_password, .mobile, .code ,.verifycode{
	border: 1px solid #e3e2e2;
    box-sizing: border-box;
    height: 38px;
    width: 95%;
}
.input-user, .input-pwd, .input-re-pwd, .input-mobile, .input-code, .input-vcode{
	background: 0;
    border: 0;
    float: right;
    height: 36px;
    line-height: 36px;
    padding: 0;
    width: 235px;
    font-size: 12px;
    outline:none;
}
.verify{
    width: 93px;
    background: #323232;
    border: 0;
    color: #fff;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    position: absolute;
    right: 15px;
    bottom: 45px;
    cursor: pointer;
}
.submit{
    background: #000;
    border: 0;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    width: 95%;
    margin-top: 5px;
    cursor: pointer;
}
.span{
    float: left;
    color: #ddd;
    line-height: 35px;
    margin: 0 10px;
}
.con .title{
    line-height: 35px;
    margin: 0 15px;
    float: left;
}
.get-code{
    background: #323232;
    border: 0;
    color: #fff;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    width: 85px;
    float: right;
    font-size: 12px;
    margin-right: 15px;
    margin-top: -37px;
    cursor: pointer;
}
.errortips{
    line-height: 20px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #CF4633;
    clear: left;
}
.con .active{
    display: block;
}
.footer{
	margin-top: 0;
}